:root {
    --bluetoviolet: linear-gradient(to right, #1f4edb , #85006e );
    --lightblue: #73b2ff;
    --darkblue: #0b164f;
}

* {
    font-family: sans-serif;
}

header {
    background: var(--bluetoviolet);
    text-align: center;
    padding: 10px;
    color: white;
}

.citySearch {
    justify-content: left;
    float: left;
    text-align: center;
    margin-left: 10px;
}

.search-input {
    height: 20px;
}

.searchResults {
    justify-content: left;
    float: left;
    text-align: center;
}

.weatherDisplay {
    float: right;
    width: 80%;
    color: white;
    background-color: black;
    margin: 10px;
}

.weatherDisplay div {
    padding-left: 5px;
}

.fiveDayDisplay {
    color: white;
    width: 80%;
    float: right;
    margin: 10px;
}

.row {
    display: flex;
    gap: 10px;
    text-align: left;
}

.row div {
    flex: 1;
    background-color: var(--darkblue);
    border: 1px solid black;
    padding-left: 5px;
}

button {
    background-color: var(--lightblue);
    color: var(--darkblue);
    width: 100%;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
}



body { margin: 0; }
